:root {
    --brand-color: #2E2F42;
    --brands-color: #4d5ae5;
}
/* Body */
.body{ color: #434455;
font-family: 'Roboto', sans-serif;
background-color: #fff;}

/* Header */
.nav>.logo.link{ 
font-family: "Raleway", sans-serif;
font-weight: 800;
line-height: 1.17;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--brands-color);
text-decoration: none;}
.logo-span{color: var(--brand-color)}
 /* navigation */
.list{list-style: none;}
.link{color: var(--brand-color);
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;}
.link:hover, 
.link:focus{color: #404BBF; }
/* address */
.address{font-style: normal;}
.add.link{
    font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: inherit;
        text-decoration: none;
}
.add.link:hover,
.add.link:focus {color: #404BBF;}
/* Poster */
.poster{background-color: var(--brand-color);}
.title-post{font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;}
    /* BTN */
    .btn{background-color: var(--brands-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;}
    .btn:hover,
    .btn:focus{background-color: #404BBF}
    /* Information */
    .info-punct{ font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--brand-color);}
    .text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;}
    
    /* Projects */
    .htitle{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--brand-color);
    text-align: center;}
    /* Card  */
        .info-card {
            background-color: #F4F4FD;
        }
        .list-card{ background-color: #fff;}
        /* footer */
        .footer{background-color: var(--brand-color);}
        .text-end{
            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #F4F4FD;}
.footer>.logo.link{color: var(--brands-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;}
.footer>.logo.link>.link-span {
    color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
/* Portfolio BTN */
.list-btn{font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--brands-color);
    background: #F4F4FD;
    cursor: pointer;}
    .list-btn:hover,
    .list-btn:focus{background: #404BBF; color: #fff;}
